:root {
  --main-color: #f6b47aec;
  --font-color: #0a1d25;
  --sec-color: #873D48;
  --ter-color: #b7f8f8;
  --faq-color: #ffe1c7;
}

.navbar {
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  background-color: var(--main-color);
}

.btn {
  background-color: #000000;
  color: #ffffff !important;
}

.btn-hover:hover {
  color: #873D48 !important;
  background-color: #ffffff;
}

.adminres input[type="text"] {
  box-sizing: border-box;
  padding-left: 1px;
}

.bg-image {
  background-image: url("../img/welcome.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.nav-link:not(.btn):hover {
  color: #0a1d25;
  text-decoration: overline;
  text-decoration-color: #ffe1c7;

}

.bg-image-blur {
  background-image: url("../img/welcome-blur.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

@media screen and (min-width: 1000px) {
  .last-item {
    position: absolute;
    right: 2rem;
  }
}

.form-select#usersStatus {
  background-image: none !important;
  padding-left: 0px;
  padding-right: 0px;
  width: auto;
}

.faq-text {
  background-color: rgba(248, 249, 250, 0.9);
  padding: 1rem;
  border-radius: 0.5rem;
}

@media screen and (max-width: 1000px) {
  .news-text {
    font-size: medium;
  }
}